<form (ngSubmit)="onsubmit()" [formGroup]="momentform"  #formDir ="ngForm" class="w-full h-full flex flex-col">
  <div class="mt-4 flex flex-row justify-between ml-46 mr-8">
    <h1 class="flex ml-6 font-poppins  font-extrabold text-yellow-400 text-3xl">
      <nav>
        <select (change)="navigateTo($any($event.target).value)"  class="font-poppins">
          <option >CADASTRO ALUNO</option>
          <option value="/dashboard/cadastroBrinquedo">CADASTRO BRINQUEDO</option>
          <option value="/dashboard/cadastroArea">CADASTRO DESENVOLVIMENTO</option>
  
          <option value="/dashboard/cadastroClassificacao">CADASTRO CLASSIFICAÇÃO</option>
        </select>
        </nav>
    </h1>
    <h1 class="flex font-poppins text-black text-2xl   ">Olá, {{token}}</h1>
  </div>
      <div class="flex  mt-28 ml-56  flex-row gap-6">
        <label for="Nome" class="font-poppins text-lg">Nome:</label>
        <input type="text" name="nome"  class="border-2 border-zinc-500 w-96 h-9 rounded-xl p-4 text-zinc-800 text-xl " formControlName="nome" placeholder="Ex: Livia Alves">
      </div>
  
      <div class=" flex mt-6 ml-56 flex-row gap-3">
        <label for="RA" class="font-poppins text-lg
        ">RA:</label>
    
        <input type="number" name="RA"  class="border-2 border-zinc-500 w-96 h-9 rounded-xl p-4 text-zinc-800 text-xl ml-10" formControlName="RA"
         placeholder="RA: 40028992">
    </div>
    <div *ngIf=" ra.invalid && formDir.submitted" class="mb-3 text-red-700  text-center flex  ml-96 animate-shake">
      <p>RA deve ser preenchido</p>
  </div>  
      <div class="flex mt-6 ml-56 flex-row gap-8 ">
            <label for="Serie" class="font-poppins text-lg">Série:</label>
            <select formControlName="serie"  name="Serie" id="Serie" class="w-32 h-8 border-2 border-zinc-500 rounded-xl text-center" >
                <option value= "1" >1°</option>
                <option value= "2" >2°</option>
                <option value= "3" >3°</option>
                <option value= "4" >4°</option>
                <option value= "5" >5°</option>
                <option value= "6" >6°</option>
                <option value= "7" >7°</option>
                <option value= "8" >8°</option>
                <option value= "9" >9°</option>
            </select>
      </div>  
      <div *ngIf="serie.invalid && formDir.submitted" class="mb-3 text-red-700  text-center flex  ml-96 animate-shake">
        <p>Serie deve ser escolhida</p>
    </div>
      <div class="flex mt-3 ml-56">
        <button type="submit" class="border-2 border-zinc-500 w-80 bg-yellow-300 h-14 mt-48 ml-32 rounded-xl">Salvar</button>
      </div>
</form>