<section class="ml-6">
  <div class="mt-6 flex flex-row gap-[735px] ml-46">
    <h1 class="flex font-extrabold font-poppins text-yellow-400 text-3xl">
      RESERVA
    </h1>
    <h1 class="flex font-poppins text-black text-2xl">Olá, {{ token }}</h1>
  </div>
  <div
    class="w-[1100px] mt-8 h-[600px] border border-zinc-500 rounded-lg border-t-2 border-l-2 border-r-2 border-b-2"
  >
    <div>
      <input
        type="text"
        placeholder="Digite o codigo, referência ou  descrição"
        class="mx-4 mt-1 border border-t-2 w-96 border-l-2 border-r-2 border-b-2 border-zinc-500 rounded-lg placeholder-gray-500 placeholder text-center"
      />
      <input
        type="text"
        placeholder="Tipo do Brinquedo"
        class="border border-zinc-500 mx-4 mt-2 border-t-2 border-l-2 border-r-2 border-b-2 rounded-lg text-center ml-44"
      />
      <div
        class="flex flex-row gap-28 mt-5 border border-b-2 border-t-0 border-l-0 border-r-0 border-zinc-500"
      >
        <div class="font-poppins text-2xl mb-2 ml-8">Cód.</div>
        <div class="font-poppins text-2xl mb-2">Referência</div>
        <div class="font-poppins text-2xl mb-2">Descrição</div>
        <div class="font-poppins text-2xl mb-2">Status</div>
        <div class="font-poppins text-2xl mb-1">Quantidade Disponivel</div>
      </div>
    </div>
  </div>
</section>
