<main class="w-[55rem] h-[40rem] bg-zinc-100">
    <div class="flex justify-center items-center p-4 text-3xl text-yellow-400 font-poppins font-bold border-b-2 border-zinc-600 ">
        Informações do Brinquedo
    </div>
    <section class="mt-5 pl-8 text-xl font-poppins border-b-2 border-zinc-500 ">
        <div class="flex flex-row gap-40">
            <div class="">ID Brinquedo: <span class="text-zinc-500 pl-2">{{data.event.id}} </span></div>
            <div>Área de Desenvolvimento: <span class="text-zinc-500 pl-2">{{data.event.cadastro_area.descricao}}</span></div>
        </div>
        <div class="flex flex-row mt-5 gap-40">
            <div>Descrição: <span class="text-zinc-500 pl-2">{{data.event.descricao}}</span></div>
            <div>Classificação: <span class="text-zinc-500 pl-2"> {{data.event.cadastro_classificacao.Descricao}}</span></div>
        </div>
        <div class="flex flex-row mt-5 gap-40">
            <div>Idade Mínima: <span class="text-zinc-500 pl-2">{{data.event.idademin}} anos</span></div>
            <div>Idade Máxima: <span class="text-zinc-500 pl-2"> {{data.event.idademax}} anos</span></div>
        </div>
        <div class="flex flex-row mt-5">
            <div>
                Forma De Entrada: <span class="text-zinc-500 pl-2">{{data.event.formaDeEntrada}}</span>
            </div>
        </div>
</section>      
<footer>
    <div class=" flex mt-[21rem] items-center justify-center"><button (click)="onclick()" class="w-56 h-8 bg-red-600 ">Reservar</button></div>

</footer>
