<section class="ml-6">
  <div class="mt-4 flex flex-row justify-between ml-46 mr-8">
    <h1 class="flex font-poppins font-extrabold text-yellow-400 text-3xl">
      <nav>
        <select (change)="navigateTo($any($event.target).value)"  class="font-poppins">
          <option >CONTROLE USUÁRIO</option>
          <option value="/dashboard/controleAluno">CONTROLE ALUNO</option>
  
        </select>
        </nav>
    </h1>
    <h1 class="flex font-poppins text-black text-2xl">Olá, {{ token }}</h1>
  </div>
  <div
    class="w-[1100px] mt-8 h-[600px] border flex flex-col border-zinc-500 rounded-lg border-t-2 border-l-2 border-r-2 border-b-2"
  >
    <div class="flex flex-col flex-1 ">
      <div>
        <input
          type="text"
          [(ngModel)]="searchText"

          placeholder="Digite o código, referência ou  descrição"
          class="mx-4 mt-1 border icon border-t-2 w-96 border-l-2 border-r-2 border-b-2 border-zinc-500 rounded-lg placeholder-gray-500 placeholder text-center"
        />
      
        <input type="button" value="Novo Usuário " [routerLink]= "['/dashboard/cadastroUsuario']" class="border-2  icon-person border-zinc-500 w-40 ml-[28rem] mt-1 rounded-xl bg-yellow-400">
        <a [routerLink]="['/dashboard/controleAluno']" class="icon-filter ml-10 cursor-pointer"></a>
      </div>

      <div class="flex-1 w-full mt-5">
        <table class="w-full text-center">
          <thead
            class="font-poppins text-xl border border-b-2 border-l-0 border-r-0 border-t-0 border-zinc-300"
          >
            <th>Cód</th>
            <th>Nome</th>
            <th>Cargo</th>
            </thead>
          <tbody class="text-lg font-semibold font-poppins">
            <tr
              *ngFor="
                let post of POSTS | filter: searchText; let i = index
              "
            >
              
              <td class="">
                <button (click)="onclick(post.id -1)">{{post.id}}</button>
              </td>
              <td class="">{{ post.Nome }}</td>
              <td class="">{{ post.Funcao }}</td>
              <td class=""></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="flex flex-row text-center items-center justify-center gap-4  ">
        <input type="button" value="Anterior" class="border-2 cursor-pointer border-zinc-600 w-32 rounded-xl "  (click)="onAnterior()">
          <input type="number"   value="{{this.currentPage}}" class="border-2 border-zinc-600 w-32 rounded-xl text-center">
        <input type="button" value="Próximo" class="border-2 cursor-pointer border-zinc-600 w-32 rounded-xl"   (click)="onProximo()"  >
    </div>
  </div>
</section>