.icon {
  padding-left: 25px;
  background: url("./icon.svg") no-repeat left;
  background-size: 20px;
}
.icon-person{
    padding-left: 15px;
  background: url("./person.svg") no-repeat left;
  background-size: 20px;
  background-color: yellow;
}

.icon-filter{
  padding-left: 25px;

  background: url("./right.svg") no-repeat left;
  background-size: 30px;
}