<form class="ml-6"  (ngSubmit)="onsubmit()"
[formGroup]="momentform"
#formDir="ngForm">
  <div class="mt-4 flex flex-row justify-between ml-46 mr-8">
    <h1 class="flex  font-poppins  font-extrabold text-yellow-400 text-3xl">
      <nav>
      <select (change)="navigateTo($any($event.target).value)"  class="font-poppins">
        <option >CADASTRO CLASSIFICAÇÃO</option>
        <option value="/dashboard/cadastroArea">CADASTRO DESENVOLVIMENTO</option>
        <option value="/dashboard/cadastroBrinquedo">CADASTRO BRINQUEDO</option>
        <option value="/dashboard/cadastroAluno">CADASTRO ALUNO</option>

      </select>
      </nav>
      
    </h1>
    <h1 class="flex font-poppins text-black text-2xl   ">Olá, {{token}}</h1>
  </div>
  <div class="flex ml-[22rem] flex-col justify-center mt-52"> 
     <label for="descricao" class="font-poppins text-xl">Tipo de Classificação:</label>
   <input type="text" formControlName="classificacao" class="mt-2 w-96 h-8 rounded-xl border-2 border-zinc-600 pl-2 text-center" placeholder="Nova Classificação">

</div>

<div class="flex items-center justify-center mt-60"><button type="submit" class="w-60 h-10 rounded-xl border-2 border-zinc-400 bg-yellow-300 text-center font-poppins mt-20 flex items-center justify-center">Salvar</button></div>

</form>